@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  border-bottom: white;
}
svg.star-svg {
  display: inline;
}
.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

body {
  font-family: "Poppins", sans-serif;
}
table tbody tr,
td {
  border: 1px solid gray;
  padding: 8px 14px;
}

.updateMovieInfo form label input,
div,
select,
Select,
textarea {
  font-size: 15px;
}

.slider {
  display: flex;
  animation: scroll 15s linear infinite;
}

.slide {
  flex-shrink: 0;
  margin-right: 20px;
}
.slide:hover {
  background-color: #ff4444;
  transition: all ease-out 0.6s;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.slide img {
  display: block;
  width: 100%;
  height: auto;
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ._slide_1 {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  padding: 30px;
  position: relative;
  width: calc(250px * 20);
  animation: scroll_1 40s linear infinite;
}
._slide {
  height: 300px;
  width: 250px;
  display: flex;
  align-items: center;
  perspective: 100px;
}
._slide img {
  width: 100%;
  height: 100%;
}
._slide img {
  transition: transform 1s;
}
._slide img:hover {
  transform: translateZ(10px);
  cursor: pointer;
}
._slide_1:hover {
  animation-play-state: paused;
}

@keyframes scroll_1 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
} */

._slide_1 {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  padding: 15px;
  position: relative;
  width: 100%;
}

._slide_1 .slider-content {
  display: flex;
  gap: 2rem;
  animation: scroll_1 50s linear infinite;
  width: calc(250px * 40);
}

._slide_1 ._slide {
  height: 300px;
  width: 250px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

._slide_1 ._slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 1s;
}

._slide_1 ._slide img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

._slide_1:hover .slider-content {
  animation-play-state: paused;
}

@keyframes scroll_1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
